*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-clr:#E5E5E5;
    --txt-clr:hsla(240, 6%, 21%, 1);
    --btn-clr:hsla(240, 9%, 89%, 1);
    --btn-prss-clr:hsla(194, 97%, 31%, 1);

    font-size: 62.5%;
}

body{
    display: grid;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

}

main{
    display: flex;
    gap: 19.2rem;
    align-items: center;
    justify-content: center;
    max-width: 82rem;
}

.timer{
    display: flex;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12.6rem;
    line-height: 14.8rem;
    color: var(--txt-clr);

    padding: 0 0 2.0rem;
}

.controls{
    display: flex;
    gap: 4rem;
}

.controls button{

    border: none;
    background-color: transparent;

}

.sounds{
    display: grid;
    grid-template-areas: 
    "A B"
    "C D";
    gap:3.2rem;
}



.selected svg path{
    fill: white;
    
}


.sounds button{
    border: none;
    background-color: var(--btn-clr);
    border-radius: 24px;
    width: clamp(13.8rem, 13.8rem + 30vw, 2.5rem);
    height: clamp(15.2rem, 15.2rem + 10vh, 16rem);
}

.sounds button:hover{
    background-color: rgb(205, 205, 210);
}

.sounds button.selected {
    background-color: var(--btn-prss-clr);
}
@media(max-width: 885px){
    main{
        flex-direction: column;
        gap: 2.2rem;
    }
}



